@import "./Base.scss";
@import './Reusable.scss';

$heightHeader: 60px;
$heightCalc: calc(#{$heightHeader} + (100 - #{$heightHeader/1px}) * ((100vw - 1536px) / (2560 - 1536)));

/* ========================
           HEADER
=========================== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: $shadow;
    height: $heightHeader;
    padding: 1rem 5rem;

    /* Responsive Media Queries */
    @media only screen and (min-width: 1536px) {
        height: $heightCalc;
    }

    padding: 1rem calc(14px + (80 - 14) * ((100vw - 300px) / (2560 - 300)));

    &__mainSiteButton {
        @include buttonReset();
        font-size: 2rem;
        font-weight: 700;
        background: -webkit-linear-gradient($gradientOne, $gradientTwo);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: inherit;
        font-size: calc(14px + (32 - 14) * ((100vw - 300px) / (2560 - 300)));
    }

    &__shopBasketButton {
        @include buttonReset();
        display: flex;
        align-items: center;
        font-family: inherit;

        &:after {
            content: '';
            background-image: url('../svg/cart.svg');
            @include iconSize(2.5rem);
            background-repeat: no-repeat;
            margin: 0 1rem;
            filter: brightness(0%);

            /* Responsive Media Queries */
            @media only screen and (min-width: 1536px) {
                @include iconSize(calc(25px + (40 - 25) * ((100vw - 1536px) / (2560 - 1536))));
            }
        }

    }

    &__shopBasketCounter {
        display: grid;
        place-items: center;
        background-color: $orange;
        color: white;
        width: 3.3rem;
        height: 3.3rem;
        font-size: 1.6rem;
        border-radius: 50%;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            width: calc(33px + (50 - 33) * ((100vw - 1536px) / (2560 - 1536)));
            height: calc(33px + (50 - 33) * ((100vw - 1536px) / (2560 - 1536)));
            font-size: calc(16px + (23 - 16) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }
}

/* ========================
           MAIN
=========================== */
.main {
    padding: 5rem;
    padding: calc(20px + (74.9 - 20) * ((100vw - 300px) / (2560 - 300)));

    /* Responsive Media Queries */
    @media only screen and (max-width: 768px) {
        padding-top: 8rem;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding-top: 12rem;
    }

    @media only screen and (min-width: 1536px) {
        padding-top: calc(#{$heightCalc} + 3%);
    }
}

/* ========================
        Books Container
=========================== */
.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 31.7rem));
    gap: 5rem;
    justify-content: center;

    /* Responsive Media Queries */
    @media only screen and (min-width: 1536px) {
        grid-template-columns: repeat(auto-fit, minmax(31.7rem, 1fr));
    }

    @media only screen and (min-width: 1920px) {
        grid-template-columns: repeat(auto-fit, minmax(31.7rem, 40rem));
    }

}

/* ========================
        WRONG PAGE
=========================== */
.wrong-page {

    &__title {
        @include absoluteCenter();
        font-size: 5rem;
        background-color: $orange;
        padding: 10rem;
        color: white;
        border-radius: 2rem;
        text-align: center;

        font-size: calc(30px + (67 - 30) * ((100vw - 300px) / (2560 - 300)));
        padding: calc(30px + (158 - 30) * ((100vw - 300px) / (2560 - 300)));
    }
}