@import './App.scss';

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.book-card {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
        width: 100%;
        height: 30rem;
        box-shadow: $shadow;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1537px) {
            height: 40rem;
        }
    }

    &__title {
        padding: 1rem 0;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            font-size: calc(15px + (20 - 15) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }

    &__author {
        font-size: 1rem;
        padding: .5rem 0;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            font-size: calc(10px + (16 - 10) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }

    &__pages {
        padding: .5rem 0 1rem 0;
        font-size: 1.3rem;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            font-size: calc(13px + (18 - 13) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }

    &__order {
        display: flex;
        width: 100%;
        box-shadow: $shadow;
    }

    &__quantity-container {
        display: flex;
        width: 40%;
    }

    &__quantityButton {
        width: inherit;
        padding: 1rem;
        text-align: center;
        font-weight: 900;
        border: none;
        background-color: rgb(218, 211, 211);
        cursor: pointer;
        font-size: 1.4rem;
        font-family: inherit;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1537px) {
            font-size: 2rem;
        }

        &:hover {
            background-color: rgb(202, 95, 95);
            color: white;
        }

        &:active {
            background-color: rgb(235, 82, 82);
        }

    }

    &__quantityInput {
        width: inherit;
        padding: 1rem;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 900;
        border: none;
        font-family: inherit;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1537px) {
            font-size: 1.8rem;
        }
    }

    &__addToBasketButton {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        cursor: pointer;
        background-color: rgb(255, 102, 0);
        border: none;
        color: white;
        font-family: inherit;
        font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (2560 - 300)));
        @include buttonPressed();

        /* Responsive Media Queries */
        @media only screen and (min-width: 1920px) {
            font-size: 1.8rem;
        }


        &::after {
            content: '';
            background-image: url('../svg/cartAdd.svg');
            @include iconSize(2.5rem);
            background-repeat: no-repeat;
            margin-left: 1rem;

            /* Responsive Media Queries */
            @media only screen and (max-width: 1536px) {
                background-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1536 - 300)));
                width: calc(20px + (25 - 20) * ((100vw - 300px) / (1536 - 300)));
                height: calc(20px + (25 - 20) * ((100vw - 300px) / (1536 - 300)));
            }

        }
    }
}