@import './App.scss';

.shopBasket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: -2rem; //zalezne od border-spacing
    width: 70%;

    /* Responsive Media Queries */
    @media only screen and (max-width: 767px) {
        margin-top: 0;
        width: 100%;
        max-width: 32rem;
    }

    /* Responsive Media Queries */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 0;
        width: 100%;
    }


    &__nextButton-container {
        background-color: rgb(255, 102, 0);
        width: 50%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
        @include buttonPressed();

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            height: calc(50px + (100 - 50) * ((100vw - 1536px) / (2560 - 1536)));
        }

    }

    &__nextButton {
        @include buttonReset();
        color: white;
        font-size: 3rem;
        font-family: inherit;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            font-size: calc(30px + (60 - 30) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }

    &__emptyBasket {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        background-color: rgb(255, 102, 0);
        padding: 10rem;
        color: white;
        border-radius: 2rem;
        text-align: center;

        font-size: calc(30px + (67 - 30) * ((100vw - 300px) / (2560 - 300)));
        padding: calc(30px + (158 - 30) * ((100vw - 300px) / (2560 - 300)));
    }
}


.basket-table {
    background-color: inherit;
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 100%;


    &__row {

        /* Responsive Media Queries */
        @media only screen and (max-width: 767px) {
            border: 1px solid #ccc;
            margin-bottom: 5rem;
            padding: 2rem;
            border-radius: 1rem;
        }

        &--header {
            font-size: 1.6rem;
            background-color: #fff;
            box-shadow: $shadow;

            /* Responsive Media Queries */
            @media only screen and (min-width: 1536px) {
                font-size: calc(16px + (30 - 16) * ((100vw - 1536px) / (2560 - 1536)));
            }

            /* Responsive Media Queries */
            @media only screen and (max-width: 767px) {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        &--body {
            border-left: 0;
            border-right: 0;
            font-size: 1.6rem;
            background-color: #fff;
            box-shadow: $shadow;

            /* Responsive Media Queries */
            @media only screen and (min-width: 1536px) {
                font-size: calc(16px + (30 - 16) * ((100vw - 1536px) / (2560 - 1536)));
            }
        }
    }

    &__item-header {
        padding: 2rem;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            padding: calc(20px + (50 - 20) * ((100vw - 1536px) / (2560 - 1536)));
        }

        &--title {
            width: 30rem;
        }

        &--price {
            width: 15rem;
        }

        &--quantity {
            width: 15rem;
        }

        &--delete {
            width: 10rem;
        }

    }

    &__data {
        padding: .5rem;

        &--title,
        &--price,
        &--quantity,
        &--delete {
            text-align: center;
        }

        /* Responsive Media Queries */
        @media only screen and (max-width: 767px) {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;

            &:before {
                margin-right: 10%;
            }

            &:nth-of-type(3):before {
                content: "Cena:";
                position: absolute;
                left: 2%;
            }

            &:nth-of-type(4):before {
                content: "Ilość:";
                position: absolute;
                left: 2%;
            }
        }

        &--title {
            padding: 1rem 3rem;

            /* Responsive Media Queries */
            @media only screen and (max-width: 767px) {
                padding-left: 2%;
            }
        }

        &--cover {
            width: 15rem;
            height: 20rem;

            /* Responsive Media Queries */
            @media only screen and (max-width: 767px) {
                margin: 0 auto;
                width: 100%;
                height: 30rem;
                padding: 0;
            }

            /* Responsive Media Queries */
            @media only screen and (min-width: 1536px) {
                height: calc(200px + (400 - 200) * ((100vw - 1536px) / (2560 - 1536)));
            }
        }


        @media only screen and (max-width: 767px) {

            &--title,
            &--price,
            &--quantity,
            &--delete {
                text-align: center;
            }
        }

    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 1rem .1rem rgba(44, 58, 58, .2);
    }

    &__deleteButton {
        @include buttonReset();
        background-image: url('../svg/cartDelete.svg');
        @include iconSizeWithActive(4rem);
        background-repeat: no-repeat;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            @include iconSizeWithActive(calc(40px + (60 - 40) * ((100vw - 1536px) / (2560 - 1536))));
        }
    }
}

@media only screen and (max-width: 767px) {

    //Force table to not be like tables anymore
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
}

/* @media only screen and (max-width: 767px) {

    //Force table to not be like tables anymore
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    .shopBasket {
        margin-top: 0;
        width: 100%;
    }

    .basket-table {
        &__row {
            border: 1px solid #ccc;
            margin-bottom: 5rem;

            //Hide table headers (but not display: none;, for accessibility)
            &--header {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        &__data {
            //Behave  like a "row"
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding: .5rem;
            //padding-left: 50%;
            //padding-left: .5rem;

            //Label the data
            &:before {
                margin-right: 10%;
            }

            &:nth-of-type(3):before {
                content: "Cena:";
                position: absolute;
                left: 2%;
            }

            &:nth-of-type(4):before {
                content: "Ilość:";
                position: absolute;
                left: 2%;
            }

            &--title {
                padding-left: 2%;
            }

            &--title,
            &--price,
            &--quantity,
            &--delete {
                text-align: center;
            }

            &--cover {
                margin: 0 auto;
                width: 100%;
                height: 30rem;
                padding: 0;
            }
        }
    }
} */