@import './App.scss';

.summary {
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        width: 60rem;
        box-shadow: $shadow;
        padding: 2rem;

        /* Responsive Media Queries */
        @media only screen and (min-width: 1536px) {
            width: calc(600px + (1000 - 600) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }

    &__item {
        padding: .5rem 0;
        font-size: 1.6rem;

        /* Responsive Media Queries */
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding: calc(10px + (20 - 10) * ((100vw - 768px) / (1024 - 768))) 0;
            font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1024 - 768)));
        }

        @media only screen and (min-width: 1536px) {
            padding: calc(5px + (30 - 5) * ((100vw - 1536px) / (2560 - 1536))) 0;
            font-size: calc(16px + (40 - 16) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }

    &__input {
        font-size: inherit;
        width: 100%;
        padding: 1.3rem;
        margin: 1rem 0;
        border-radius: .5rem;
        border: 1px solid black;
        font-family: inherit;
    }

    &__order {
        @include buttonReset();
        margin: 1rem 0;
        padding: 1.3rem;
        color: white;
        font-size: inherit;
        font-size: 1.6rem;
        background-color: $orange;
        border-radius: .5rem;
        font-family: inherit;
        @include buttonPressed();

        /* Responsive Media Queries */
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding: calc(10px + (20 - 10) * ((100vw - 768px) / (1024 - 768))) 0;
            font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1024 - 768)));
        }

        @media only screen and (min-width: 1536px) {
            padding: calc(13px + (30 - 13) * ((100vw - 1536px) / (2560 - 1536))) 0;
            font-size: calc(16px + (40 - 16) * ((100vw - 1536px) / (2560 - 1536)));
        }
    }

    &__emptySummary,
    &__completed {
        @include absoluteCenter();
        font-size: 5rem;
        text-align: center;
        padding: 5rem;
        color: white;
        border-radius: 2rem;
        background-color: $orange;
        font-size: calc(30px + (67 - 30) * ((100vw - 300px) / (2560 - 300)));
        padding: calc(30px + (66.7 - 30) * ((100vw - 300px) / (2560 - 300)));
    }
}